<div class="user-details">
    <h1> Work Eperience </h1>
</div>
<div class="user-experience">
  <div class="expimages-right">
    <img alt="RetailPro" src="{{ "/assets/img/RetailPro.png" }}" />
  </div>
  <div class="expcontents">
    <h3> Custom Developer </h3>
    <ul>
      <li>Team Member involved in design, code and testing Customized Plugins and Web layouts. Resolve and keep track of issues/bugs</li>
      <li>Interact with internal RESTful API, perform CRUD on Oracle/MySQL databases. Develop proxy plugins in C# .NET Framework</li>
      <li>Involve working with AngularJS, jQuery, HTML5, CSS3, C# .NET, PL/SQL, Inno Script Studio, RabbitMQ</li>
    </ul>
    
  </div>
</div>
<div class="user-experience">
  <div class="expimages-left">
    <img alt="VSP Global" src="{{ "/assets/img/vspGlobal.jpg"  }}" />
  </div>
  <div class="expcontents-right">
    <h3> GTS Applications Intern </h3>
    <ul>
      <li>Part of an Agile Software Development team.</li>
      <li>Fixed bugs in the existing code, written JUnit tests, JBehaves and coded new business rules using MVEL in Drools Framework</li>
      <li>Worked on developing REStful APIs and a stretch project which involved developing a UI using AngularJS and Bootstrap</li>
      <li> Involved working with Java Spring Boot, Maven, Jenkins, Jira, Git, Mockito, Postman</li>
    </ul>
  </div>
</div>
