<div class="user-details">
    <h1> Projects </h1>
</div>
<div class="user-experience">
  <div class="expcontents">
    <h3> Local Registration System – A PC2(Programming Contest Control) Extension </h3>
    <ul>
      <li>A web application that uses RESTful web services to register contestants for ACM’s ICPC at local Universities</li>
      <li>Stores the data in a local database which can be accessed by PC2 (Programming Contest Control) system</li>
      <li>The information from PC2 is pushed into Baylor Contest Management System</li>
      <li>Technologies Involved: Dropwizard, AngularJs, Bootstrap, Java, MySQL, Liquibase, Hibernate, RAML</li>
    </ul>
  </div>
</div>
<div class="user-experience">
  <div class="expcontents">
    <h3> Crypto Alert </h3>
    <ul>
      <li>A Desktop application that lets users to configure alerts for various crypto currencies</li>
      <li>Provides information about the current price of each currency which refreshes for every 10 seconds</li>
      <li>User can input a target price for available crypto currencies beyond which a desktop notification appears</li>
      <li>Technologies Involved: Electron, Angular5, HTML, CSS, Node.js</li>
    </ul>
  </div>
</div>

<div class="user-experience">
  <div class="expcontents">
    <h3>My Mobile Tracker</h3>
    <ul>
      <li>An application developed for Android based mobile users that helps to keep track of data usage</li>
      <li>Alerts the user when a device reaches the threshold data limit to avoid overage charges</li>
      <li>Implemented RESTful web service provided by .Net framework</li>
      <li>Technologies Involved: Java, Android SDK, .NET, SQL Server, JSON</li>
    </ul>
  </div>
</div>

<div class="user-experience">
  <div class="expcontents">
      <h3>Two-Player Battle Tank Game</h3>
    <ul>
      <li>Basic rookie-level battle tank game that allows two players to play against two enemies</li>
      <li>The game can be played for unlimited time but also allows the player to exit the game at convenience</li>
      <li>Technologies Involved: HTML5, CSS, JavaScript, JSLint</li>
    </ul>
  </div>
</div>
