<div class="user-details">
    <h1> Skills </h1>
</div>

<div>
    <div>
      <h2>PROGRAMMING LANGUAGES</h2>
    </div>
    <div class="user">
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
    </div>
  </div>

  <div>
      <div>
        <h2>FRONTEND</h2>
      </div>
      <div class="user">
        <i class="devicon-angularjs-plain-wordmark colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-foundation-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
      </div>
    </div>

    <div>
        <div>
          <h2>BACKEND</h2>
        </div>
        <div class="user">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
          <i class="devicon-dot-net-plain-wordmark colored"></i>
          <i class="devicon-mysql-plain-wordmark colored"></i>
          <i class="devicon-mongodb-plain-wordmark colored"></i>
        </div>
      </div>

      <!-- <div>
          <div>
            <h2>OPERATING SYSTEMS</h2>
          </div>
          <div class="user">
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-sass-original colored"></i>
          </div>
        </div> -->

    <!-- <div>
      <div>
        <h2>FRAMEWORK</h2>
      </div>
      <div class="user">
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
      </div>
    </div> -->

    <div>
        <div>
        <h2>DESKTOP DEVELOPMENT</h2>
      </div>
      <div class="user">
        <i class="devicon-nodejs-plain-wordmark colored"></i>
        <i class="devicon-dot-net-plain-wordmark colored"></i>
      </div>
    </div>

    <div>
      <div>
        <h2>TOOLS</h2>
      </div>
      <div class="user">
        <i class="devicon-git-plain"></i>
        <i class="devicon-gulp-plain colored"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <i class="devicon-gimp-plain colored"></i>
      </div>
    </div>
  